<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
    <h1>ELEARNING FOR AFRICANS LANGUAGES</h1>
    <p>Connecté en tant que {{name}}</p>
    </body>
</html>